/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
node_modules
dist
.tmp
.sass-cache
bower_components
/app/cache/
/vendor/
/app/logs/
/nbproject/private/
/web/uploads/documents/
/web/bundles/
web/bundles/
app/logs/
nbproject/
.idea/
app/bootstrap.php.cache