<div class="jumbotron">
    <form name="form">
        <input 
            type="date" 
            id="startDate" 
            name="startDate" 
            ng-model="input.startDate"
            ng-model-options="{ debounce: 500 }"
            ng-change="change()"
            placeholder="yyyy-MM-dd" 
            min="2014-01-01" 
            max="2014-12-31" 
            required 
            />
        <input 
            type="date" 
            id="endDate" 
            name="endDate" 
            ng-model="input.endDate"
            ng-model-options="{ debounce: 500 }"
            ng-change="change()"
            placeholder="yyyy-MM-dd" 
            min="2014-01-01" 
            max="2014-12-31"
            required 
            />
    </form>

    <canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas> 
</div>
